@font-face {
        font-family: 'robotolight';
        src: url('/font/Roboto-Light-webfont.eot');
        src: url('/font/Roboto-Light-webfont.svg');
        src: url('/font/Roboto-Light-webfont.ttf');
        src: url('/font/Roboto-Light-webfont.woff');
        font-weight: normal;
        font-style: normal;
    
    }
h1
{
        font-family: 'robotolight', Verdana, Geneva, Tahoma, sans-serif, serif, sans-serif;
        color: coral;
        text-align: center;
}
h1 + p
{
        text-align: center;
}

body{
        font-family: 'robotolight', Verdana, Geneva, Tahoma, sans-serif;
        background: url('img/fond.jpg');
}
img{
        border: 3px coral solid;

}
.flottant{
        float: right;
}    